.App {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: #244c66;
  font-weight: 900;
  font-size: 70px;
  padding: 60px 80px 40px 60px;
}

.title {
  margin: 0px;
}

.subtitle {
  margin: 0px;
  font-weight: 600;
  font-size: 40px;
}

.body {
  padding: 80px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #846a5b;
  border-radius: 16px;
  color: #8aa0ae;
  font-weight: 600;
}

.form-check {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.options {
  display: flex;
  flex-direction: row;
  color: #3f2e27;
  gap: 20px;
}

.image {
  width: 100%;
  height: 220px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 0.5px 0.5px 5px #8aa0ae;
  border-radius: 24px;
}

.card-bottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.item-name {
  color: #244c66;
  font-weight: 800;
  font-size: 24px;
}

.item-description {
  color: #8aa0ae;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-price {
  color: #3f2e27;
  font-weight: 700;
  font-size: 18px;
}

.categories {
  color: #846a5b;
  font-weight: 700;
}

.favorite-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #244c66;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  box-shadow: 1px 1px 10px #8aa0ae;
}

.favorite-button:hover, .favorite-button-remove:hover, .favorite-filter:hover {
  box-shadow: 4px 4px 10px #8aa0ae;
  cursor: grab;
}

.favorite-button-remove {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #846a5b;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  box-shadow: 1px 1px 10px #8aa0ae;
}

.card-list {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.favorites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #846a5b;
  border-radius: 16px;
  color: #8aa0ae;
  font-weight: 600;
  margin-bottom: 30px;
  height: fit-content;
}

.card-text {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.not-filter {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.favorite-filter {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #244c66;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: 40px 30px;
  box-shadow: 1px 1px 10px #8aa0ae;
}

.filter-container {
  width: 100%;
}

.favorite-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.total {
  font-weight: 600;
  font-size: 16px;
}