.App {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #244c66;
  font-weight: 900;
  font-size: 60px;
  padding: 80px;
}

.title {
  display: flex;
  align-self: flex-start;
  margin: 0px;
}

.body {
  padding: 80px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

#dropdown-button {
  background: white;
  font-size: 20px;
  border: 0px;
  color: #8aa0ae;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  font-size: 16px;
  color: #244c66;
  font-style: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #846a5b;
  border-radius: 16px;
  color: #8aa0ae;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-check {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.options {
  display: flex;
  flex-direction: row;
  color: #3f2e27;
  gap: 10px;
}

